<%# {{#each @model.recipes as |recipe| }}
    <Recipe @name={{recipe.name}}
            @count={{recipe.count}}
            @description={{recipe.description}}
    />
{{/each}} %>

<% @recipes.each do |recipe| %>
    <article class="border border-radius-2 m-2 p-2 bg-gray-300 rounded-sm">
        <header>
            <h2 class="text-xl w-3/4 mx-2"><%= recipe.name %></h2>
        </header>
        <div class="px-2 my-2 text-xs italic text-gray-800">
            <%= recipe.description %>
        </div>
        <div class="flex p-1">
            <label for="count" class="w-3/4 text-right px-3">Count:</label>
            <input type="number" value=<%= recipe.count %> class="w-1/4 text-center border rounded" />
        </div>
        <div class="flex p-1 font-bold">
            <div class="w-3/4 text-right px-3">Recipe Total: </div>
            <div class="w-1/4 px-1 text-right border">$100.00</div>
        </div>
        <div class="flex p-1 font-bold">
            <div class="w-3/4 text-right px-3">Grand Total: </div>
            <div class="w-1/4 px-1 text-right border">$400.00</div>
        </div>
        <%= render partial: "recipes/item-list", locals: { items: @items_flowers, list_name: "Flowers", recipe_count: recipe.count } %>
        <%= render partial: "recipes/item-list", locals: { items: @items_hardgoods, list_name: "Hardgoods", recipe_count: recipe.count } %>
        <%= render partial: "recipes/item-list", locals: { items: @items_others, list_name: "Other", recipe_count: recipe.count } %>
    </article>
<% end %>